<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Accueil Express</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Bienvenue sur Express</h1>
  <p>Cliquez sur le bouton ci-dessous pour voir l'heure actuelle</p>
  <a href="http://localhost:3003/time"><button>Heure actuelle</button></a>
  <hr>
  <p>Le suivant permet d'afficher une liste d'utilisateurs</p>
  <a href="http://localhost:3003/users"><button>Liste d'utilisateurs</button></a>
  <script src="/js/app.js"></script>
</body>
</html>
